<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Catálogo de Livros</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Livros
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/livros/home">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/livros/create">Registar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Editoras
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/editoras/home">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/editoras/create">Registar</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Resumo</th>
        <th scope="col">Editora</th>
        <th scope="col">Autores</th>
        <th scope="col">Ação</th> <!-- Nova coluna -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <th scope="row">{{livro.titulo}}</th>
        <td>{{livro.resumo}}</td>
        <td>{{livro.editora}}</td>
        <td>@{{livro.autores}}</td>
        <td>
          <!-- Botões de editar e eliminar -->
          <button (click)="eliminarLivro(livro)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  